.card {
	padding: 30px;
	display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 10px 30px;
    border-radius: 6px;
    background-color: #a8d8a4;
    margin-bottom: 40px;
}
.card h3 {
	font-size: 25px;
}

.card btn-gardening {
	padding-left: 50px;
}

.card img {
	width: 200px;
}